.formContainer{
    width : 20vw;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    border: "2px solid black";
    background-color: #670195 ;
    
}

.links{
    color: #E3CCAE;
}

