.formContainer{
    margin:auto;
    margin-top: 190px;
    width : 28vw;
    padding: 5px;
    min-height: 20vh;
    font-size: calc(10px + 2vmin);
    border: "2px solid";
    background-color: #E5D1FA ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border: 2px solid ;
    /* border-color: blueviolet; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.links{
    color:yellow
}

.form-elements{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
